---
BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: Always
# AlignAfterOpenBracket: AlwaysBreak
# BinPackArguments: false
# BinPackParameters: false
