# macos
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
._*

# output files
*.out
*.bmp
*.obj
!assets/teapot_min.obj

# build output
bin/

# python
__pycache__/
*.py[cod]
.venv/
venv/

# testing
*.dSYM
test

# vscode
.vscode
